text-style()
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  --x-height-multiplier 0.363
  --baseline-multiplier 0.157
  font-family "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif
  letter-spacing -.02em
  font-weight 400
  font-style normal

page()
  position absolute
  top 0px
  left 0px 
  width 100vw
  height 100vh
  z-index -1
  display flex
  align-items center
  justify-content center
  & span
    color rgba(255,255,255, .5)
    font-size 32px

pages = {
  Foo: rgb(235, 78, 145) purple,
  Bar: purple rgb(255, 84, 0),
  Baz: rgb(255, 84, 0) green,
  Rudy: green rgb(255, 190, 0),
  Example: rgb(255, 190, 0) teal,
  ReduxFirstRouter: teal blue,
  Universal: blue black,
  FaceySpacey: black rgb(235, 78, 145)
}