@import './mixins'
.container
  page()
  background rgb(255, 190, 0)
  & img
    width 100px
    margin-right 10px
    border 1px solid red
  & span
    color rgb(200, 20, 70)
  a
    color black
    &:hover
      color red